<h1>Contact</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()" style="float: left; padding-right: 30px">
  <input type="text" placeholder="Nume" formControlName="name">
  <input type="text" placeholder="Email" formControlName="email">
  <textarea placeholder="Mesaj" formControlName="message"></textarea>
  <button type="submit" [disabled]="form.invalid">Trimite</button>
</form>

<div #gmap class="map"></div>

<div class="info">
  <h3>Informatii utile:</h3>
  <div class="span6">
    <p>
    </p>
    <div class="showmap">
        <i class="icon-map-marker"> </i>
        <b>Adresa: </b>
        Principală, nr. 323A
    </div>
    <p></p>
    <p>
      <i class="icon-map"> </i>
      <b>Localitate: </b>
      Dobresti
    </p>
    <p>
      <i class="icon-map"> </i>
      <b>Judet: </b>
      Bihor
    </p>
    <p>
      <i class="icon-map"> </i>
      <b>Ţara: </b>
      Romania
    </p>
    <p>
      <i class="icon-map-marker"> </i>
      <b>Cod postal: </b>
      417240
    </p>
    <p>
      <i class="icon-phone"> </i>
      <b>Telefon: </b>
      0259-325400
    </p>
    <p>
      <i class="icon-print"> </i>
      <b>Fax: </b>
      0259-325400
    </p>
  </div>
</div>