/* You can add global styles to this file, and also import other style files */
body {
    background-color:  #d4d4dc;
    min-width: 1024px;
}

input.ng-invalid.ng-dirty{
    border: 1px solid red;
}
button:hover,a.btn:hover{
    cursor: pointer;
   }