<h1>Acasa</h1>
<h3>Administraţie</h3>
<p>Comuna Dobreşti are în componenţă opt sate: Dobreşti, satul de reşedinţă Cornişeşti, Crânceşti, Hidişel, Luncasprie, Răcaş,
    Topa de Jos şi Topa de Sus. Se învecinează la nord cu comuna Vârciorog, la vest cu comuna Ceica, la sud-vest cu comuna
    Sâmbăta, la sud cu comuna Pomezeu, la sud-est cu comuna Roşia, la est cu comuna Şuncuiuş, iar la nord-est cu comuna Vadu
    Crişului şi comuna Aştileu.</p>

<h3>Activitati economice principale:</h3>
<ul>
    <li>Exploatări forestiere</li>
    <li>Minerit</li>
    <li>Alimentaţie publică</li>
    <li>Încălţăminte</li>
</ul>
<h3>Obiective turistice</h3>
<ul>
    <li>Biserica din lemn cu hramul Adormirea Maicii Domnului (1756) din satul Topa de Jos</li>
    <li>Biserica din lemn cu hramul Sfinţii Arhangheli Mihail şi Gavriil (1725, pictată în 1769) din satul Luncasprie</li>
    <li>Lacul de acumulare - Baraj Vida</li>
    <li>Monumentul eroilor căzuţi în primul şi al doilea război mondial Dobreşti</li>
    <li>Peştera Topliţa</li>
</ul>

<h3>Evenimente locale:</h3>
<p>
    Zilele comunei în a doua zi de Paşti, organizate de către primărie cu ocazia împlinirii a 500 ani de la prima atestare documentară
</p>

<h3>Proiecte de investitii:</h3>
<ul>
    <li>Zonă turistică</li>
    <li>Alimentări cu apă în toate satele</li>
    <li>Modernizarea infrastructurii</li>
    <li>Execuţie sistem de canalizare</li>
    <li>Construcţie şcoală de arte şi meserii în localitatea Dobreşti</li>
    <li>Construcţie Cămin Cultural în localitatea Lunca Sprie</li>
    <li>Reabilitare şcoală generală</li>
    <li>Reabilitare şi extindere sistem de iluminat public</li>
    <li>Amenajări spaţii verzi - parcuri şi terenuri de joacă pentru copii</li>
    <li>Asfaltare drum: Lunca Sprie-Centru Baraj, Hidişel-Topa de Sus</li>
    <li>Modernizare drumuri comunale</li>
</ul>


<h3>Prezentare generala</h3>

<p>Comuna Dobresti este situata in partea de Sud-Est a judeţului Bihor, în zona deluroasa din sud-vestul Munţilor Piatra Craiului.</p>

 

<p>Comuna ocupa o poziţie relativ centrala, gravitând ca areal de extensiune mai mult spre Munţii Piatra Craiului. Din punct de vedere administrativ, comuna Dobresti  se invecineaza la sud-vest cu comuna Sambata , la vest cu comuna Ceica , la nord-vest cu comuna Virciorog , la nord cu comuna Astileu , la nord est cu comuna Magesti , la est comunele Suncuius si Rosia ,iar la sud cu comuna Pomezeu .</p>

 

<p>Hidrografic, se incadreaza in bazinul Crisului Negru ,pe afluentul acestuia , Holod , in care se varsa cele trei vai ce strabat comuna , respectiv Valea Topei , Valea lui Vasile si Valea Vida..</p>

 

<p>In actuala structura administrativa, comunei Dobresti ii aparţin localităţile : Dobresti , Luncasprie , Hidisel , Crincesti , Cornisesti , Topa de jos , Topa de sus si Racas si se intinde pe o suprafata de 13.480 hectare.</p>

 

<p>Distanta fata de cele mai apropiate orase din judetul Bihor este de 50 km fata de Oradea , municipiu resedinta de judet , 30 km fata de Beius ,75 km de orasul Salonta si 35 km de orasul Alesd.</p>

 

    <p>Accesul in comuna se face din drumul national DN76 , Oradea –Deva, pe drumul judetean DJ767 , pentru localitatile Crincesti , Hidisel si Dobresti ; pe drumul judetean DJ 767C pentru localitatile Luncasprie si Racas ; pe drumul comunal DC 196 pentru localitatile Topa de jos si Topa de sus si pe drumurile comunale DC196 si DC 198 pentru localitatea Cornisesti .</p>

 

        <p>Localitatea Dobresti si majoritatea celorlalte localitati sunt atestata documentar din anul 1508 , având o existenta economica preponderent agricola si forestiera , deşi in pestera Izbucul Toplitei , din localitatea Luncasprie , au fost descoperite urme ale existentei umane pe aceste locuri (schelete , 15 vase de lut intregi , margele , unelte de piatra cioplita,

 

            doua topoare de bronz ) ce se incadreaza la inceputul epocii bronzului , dupa cum prezinta Ioan Emodi in ,, Contributii la cunoasterea inceputului epocii bronzului din nord –vestul Transilvaniei”- vezi Thraco-Dacica ,6,1985.</p>

 

                <p>Perioada pana in secolul XIV este lipsita de informaţii sau informatii vagi, dar existenta unor ruine a unei cetati turcesti in comuna vecina Pomezeu si denumirea unui drum de la aceasta prin localitatile Luncasprie si Dobresti spre Alesd –numit drumul turcului- lasa sa se traga concluzia ca in drumul turcilor spre Ungaria au trecut si prin aceasta zona .</p>

 

                    <p>La mijlocul secolului XVIII  in localitatea Dobresti incepe sa se dezvolte activitatea forestiera , exploatand masa lemnoasa din Dobresti si Luncasprie si sa fie prelucrata in ,,fabrica de cherestea” si in ,,fabrica de perii si cozi de unelte” .</p>

 

                        <p>Pe la sfarsitul secolului XVIII , dar mai exact inceputul secolului XIX , a inceput si exploatarea bauxitei din zacamintele de suprafata, aceasta fiind inceputul mineritului pe teritoriul comunei Dobresti. </p>

 

                            <p>Incărcarea   istorica este data de cele trei biserici de lemn, cu valoare de monumente naţionale,datand din secolul XVII ,  situate in satul Luncasprie, Topa de jos si Topa de sus.</p>