<h2>Forum</h2>
<!-- <app-employees></app-employees> -->

<div class="create-status">
  <form class="clearfix">
    <div class="form-group">
      <textarea class="form-control" rows="3" placeholder="Vrei sa lasi un comentariu?" [(ngModel)]="statusText" (ngModelChange)="typingStatus()" name="statusText"></textarea>
    </div>
    <div class="pull-right">
      <span class="countdown">
        <!-- Show the characters remaining for the status to remain valid -->
        <span *ngIf="statusText">{{this.status.maxLength - statusText.length}}</span>
        <span *ngIf="!statusText">{{this.status.maxLength}}</span>
      </span>
      <!-- On click of this button, post status -->
      <button class="btn btn-primary btn-md" (click)="postStatus()">Posteaza</button>
    </div>
  </form>
</div>
<div class="list-statuses clearfix">
  <ul>
    <!-- Loop through the statuses and display them -->
    <li *ngFor="let status of posts">
      <div class="photo">
        <img src="https://static.licdn-ei.com/scds/common/u/images/themes/katy/ghosts/person/ghost_person_200x200_v1.png" alt="">
      </div>
      <div class="status">
        <p>{{status.text}}</p>
        <div class="time-ago"><span>Adaugat acum {{status.createdAt | amTimeAgo}}</span></div>
      </div>
    </li>
  </ul>
</div>

